.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 60px;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.select {
  background: var(--background-color);
  color: inherit;
  font-size: medium;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
